doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content
  footer
    .container
      h5 Copyright 2016 Carnewal Brecht   
 
